@charset "UTF-8";

body{
  margin-top: 61px;
}

.blog-header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
}

.blog-user {
  position: absolute;
  right: 0;
  top: 0;
}
