.blog-header.layui-bg-black
  .layui-container
    ul.layui-nav.layui-bg-black
      li.layui-nav-item
        a(href="/") 
          i.layui-icon.layui-icon-home 
          | 首页
      li.layui-nav-item
        a(href="#") Web
        dl.layui-nav-child
          dd
            a(href="javscript:;") HTML
          dd
            a(href="javscript:;") CSS
          dd
            a(href="javscript:;") javscript
          dd
            a(href="javscript:;") nodejs
          dd
            a(href="javascript:;") vue.js
    ul.layui-nav.blog-user.layui-bg-black
      li.layui-nav-item
        a(href="/user/login") 登录
      li.layui-nav-item
        a(href="/user/reg") 注册
    //-ul.layui-nav.blog-user.layui-bg-black
      li.layui-nav-item
        a(href="#") 个人中心
          span.layui-badge-dot
      li.layui-nav-item
        a(href="#") 
          img().layui-nav-img
          | 我
        dl.layui-nav-child
          dd
            a(href="javascript:;") 修改信息
          dd
            a(href="javscript:;") 安全管理
          dd
            a(href="javscript:;") 退出登录 
